@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html,
body {
    /* border: 1px solid red; */
    overflow-x: hidden;
    height: 100%;
    background: rgb(249, 253, 255);
    padding: 0;
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

.center {
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.main {
    /* border: 1px solid blue; */
    margin: 10% 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#parameters {
    /* border: 1px solid black; */
}

#resultsContainer {
    /* border: 1px solid orange; */
    text-align: right;
    margin-left: 25px;
}

.results {
    padding-bottom: 15px;
}

#resultValuesContainer {
    text-align: left;
    /* border: 1px solid purple; */
    margin-left: 25px;
}

.resultValues {
    padding-bottom: 15px;
}